class tokenSecret {
    username = "<username>";
    password = "<password>";
    userDB = "<userDB>";
    passwordDB = "<passwordDB>";
    database = "<database>";
    serverDB = "<serverDB>";
    }
    
module.exports = new tokenSecret();