{
  "FmsContext": {
    "ConnectionString": "Data Source=localhost\\SQLEXPRESS;Initial Catalog=FMS2;Integrated Security=False;User ID=<USER>;Password=<PASSWORD>"
  },
  "Serilog": {
    "ConnectionString": "Data Source=localhost\\SQLEXPRESS;Initial Catalog=FMS2;Integrated Security=False;User ID=<USER>;Password=<PASSWORD>"
  }
}